* {
  box-sizing: border-box;
}
body {
  /* background: #222222; */
  padding-bottom: 56px;
  height: 100%;
}

#main {
  padding-left: 0;
}

img {
  width: 130px;
  float: left;
  margin: 20px;
  object-fit: cover;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.nav {
  display: block;
}
.logo {
  width: 80px;
}
.movies {
  font-size: 60px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
